<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../layui/css/layui.css}">
</head>
<body>

<div>

    <div class="layui-tab layui-tab-brief" lay-filter="layui-tab_1">
        <ul class="layui-tab-title">
            <li  class="layui-this">设备数据检测</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">ip和组织结构不能同时存在</blockquote>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">IP</label>
                            <div class="layui-input-inline">
                                <input  class="layui-input" name="ip"  autocomplete="off" placeholder="请输入IP地址">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item ">
                        <div class="layui-inline">
                            <label class="layui-form-label">组织结构</label>
                            <div class="layui-input-inline">
                                <select  id="orgSelect"  lay-search name="orgSelect">
                                    <option value="">请选择组织结构</option>
                                    <option th:each="org : ${orgList}"
                                            th:text="${org.title}" th:value="${org.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button  lay-submit="" lay-filter="s_history" type="submit" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i>提交</button>
                        </div>
                    </div>

                </form>

                <form class="layui-form" action="">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>设备数据检测结果</legend>
                    </fieldset>
                    <p id="checkRep"></p>
                </form>
            </div>
        </div>

    </div>

</div>


</body>

<style>
    .layui-table-view .layui-table[lay-size=lg] .layui-table-cell{
        height: auto;
    }
    .layui-table-cell{
        height: auto;
    }
    .layui-table-cell, .layui-table-tool-panel li {
        overflow: hidden;
        text-overflow: inherit;
        white-space: inherit;
    }

    .layui-table-cell {
        padding: inherit

    }
    .layui-table-cell{
        height:36px;
        line-height: 36px;
    }

    .layui-table-cell {
        height: auto;
        line-height: 20px;
        padding: 0px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        box-sizing: border-box;
        white-space: nowrap;
    }
</style>


<script th:src="@{../layui/layui.js}"></script>
<script th:inline="none">
    var laytpl ;
    var layer;
    var jq
    var form


    layui.use(['layer','form','element','table','laydate'], function(){ //独立版的layer无需执行这一句
        var laydate = layui.laydate;
        laytpl = layui.laytpl;
        var $ = layui.jquery, layer = layui.layer; //
        jq=layui.jquery;
        window.jq=jq;
        form = layui.form;
        table = layui.table;
        element = layui.element;

        //执行一个laydate实例
        laydate.render({
            elem: '#s_createTime' //指定元素
            ,range: true
        });
        //监听工具条
        table.on('tool(dataTable1)', function(obj){
            var data = obj.data;
            //跳转url
            if(obj.event === 'jumpUrl'){
                window.open("http://"+data.nodeUrl);
            }
        });

        //监听提交
        form.on('submit(s_history)', function(data){
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })

            var ip=data.field.ip;
            var orgId=data.field.orgSelect;
            if (orgId&&ip){
                layer.alert("ip和组织结构不能同时选择")
                return false
            }

            if (!orgId&&!ip){
                layer.alert("ip和组织结构不能必须输入其中一项")
                return false
            }

            window.open("/tool/toDeviceDataCheckExcel?ip="+ip+"&orgId="+orgId);
            // jq.ajax({
            //     type: "POST",
            //     url: '/tool/toDeviceDataCheck',
            //     async: true, // 使用同步方式
            //     data: JSON.stringify(data.field),
            //     contentType: "application/json; charset=utf-8",
            //     dataType: "json",
            //     success: function (data) {
            //         console.log(data)
            //
            //         jq('#checkRep').html(data.msg);
            //
            //         return false;
            //     }
            // });
            return false;
        });
    })





</script>
</html>